footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: $primary-dark;
    padding: 2rem 0;
    color: $primary-dark;
}
