.bio-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 6rem 5%;

    img {
        order: 0;
        flex-basis: 40%;
        filter: invert(1);
        height: 20rem;
        margin-left: 0%;
    }
}

.bio {
    order: 1;
    flex-basis: 60%;
    text-align: right;
}

.tools-wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: $primary-dark;
    padding-top: 1%;
    list-style-type: none;
}

.thumbs-wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}
