@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
:root {
  font-family: "Mukta", sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #1b5f5d;
  font-size: 3rem;
  background-color: #EEFCF9;
}

img {
  height: 60px;
}

.logo-style {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-style img {
  filter: invert(1);
}
.logo-style:hover {
  opacity: 0.7;
  cursor: pointer;
}
.logo-style:hover img {
  filter: opacity(0.7);
}

.thumb {
  width: 45%;
  margin: 1% auto;
  background-color: #1b5f5d;
  border: 1rem solid #1b5f5d;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}

.thumb-cover {
  order: 0;
  width: 50%;
  height: 80%;
  object-fit: cover;
  background-color: #1b5f5d;
  border-top-left-radius: 10px;
}

.thumb-text {
  order: 1;
  flex-basis: 50%;
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: right;
}
.thumb-text h2,
.thumb-text p {
  padding-right: 6%;
  margin-top: 0;
}

.tags {
  order: 2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  border-radius: 0 0 10px 10px;
  background-color: #EEFCF9;
  margin: 0;
  cursor: default;
}
.tags li {
  color: #1b5f5d;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: #1b5f5d;
  padding: 0 4.5rem;
  color: white;
}
header h1 {
  margin: 0;
}

nav a {
  color: white;
  font-size: 3.5rem;
  text-decoration: none;
  margin: 0 2rem;
}
nav a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  background-color: #1b5f5d;
  padding: 2rem 0;
  color: #1b5f5d;
}

.bio-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 5%;
}
.bio-wrap img {
  order: 0;
  flex-basis: 40%;
  filter: invert(1);
  height: 20rem;
  margin-left: 0%;
}

.bio {
  order: 1;
  flex-basis: 60%;
  text-align: right;
}

.tools-wrap {
  background-color: #1b5f5d;
  padding-top: 1%;
}

.tags-list {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  margin: 0;
  list-style-type: none;
}

.thumbs-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #38c0b0;
  margin: 0 auto;
  padding: 2%;
}

.error-wrap {
  color: #1b5f5d;
  text-align: center;
  margin: 0 40rem;
  padding-bottom: 15rem;
  border: 2rem solid #38c0b0;
  background-color: white;
}
.error-wrap p {
  font-weight: 800;
  font-size: 14rem;
  margin: 2%;
}
.error-wrap h1 {
  font-weight: 300;
}

.project-wrap {
  margin-bottom: 6rem;
}

.carrousel-wrap {
  width: 75%;
  margin: 2% auto;
  background-color: #1b5f5d;
  border: 1rem solid #1b5f5d;
  border-radius: 10px;
  color: white;
}

.language-wrap {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.language-wrap .tools-list, .language-wrap .tags-list {
  background-color: #1b5f5d;
  margin-bottom: 2rem;
  display: flex;
}

/*# sourceMappingURL=index.css.map */
